.ipynb_checkpoints/
.vscode
__pycache__/
data/
preprocessed_data/

indexing/faiss_db/
indexing/faiss_db_100/
indexing/faiss_db_512/
indexing/faiss_indexes/
indexing/code_faiss_db/
indexing/code_faiss_indexes/
indexing/*.db

faiss_db_512/
faiss_indexes_512/
code_faiss_db_512/
code_faiss_indexes_512/
text_code_faiss_db_512/
text_code_faiss_indexes_512/
indexing/code_faiss_db_512/
indexing/code_faiss_indexes_512/
indexing/faiss_indexes_512/
indexing/text_code_faiss_db_512/
indexing/text_code_faiss_indexes_512/
indexing/texts_codes.json

faiss_db/
faiss_indexes/
code_faiss_db/
code_faiss_indexes/

secrets/
